.mainCalc {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.sliderLabel {
    font-weight: 700;
}


.calcbody {
    display: flex;
    flex-direction: column;
}

.viewGramms {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

.column {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}